electron_mirror=https://npmmirror.com/mirrors/electron/
registry=https://registry.geckoai.cn/
hoist=true
node-linker=hoisted
package-manager=pnpm
package-manager-strict=false
network-concurrency=4
git-checks=false
publish-branch=production